@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@font-face {
  font-family: "Courier", monospace;
  src: url("./fonts/COUR.TTF") format("truetype");
}
@font-face {
  font-family: "RosesAre";
  src: url("./fonts/RosesareFF0000.ttf");
}
p {
  font-family: "Courier";
  color: white;
}

h1 {
  font-family: "RosesAre";
  color: white;
}

h2 {
  font-family: "RosesAre";
  color: #156082;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #030303;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.video-bg {
  position: absolute;
  z-index: -1;
  opacity: 5%;
  filter: blur(5px);
  -o-object-fit: fill;
     object-fit: fill;
}

.burgermenu {
  position: fixed;
  right: 50px;
  top: 40px;
  cursor: pointer;
  z-index: 100;
}
.burgermenu .bl {
  background-color: #156082;
  width: 50px;
  height: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.burgermenu .bl.mid {
  position: relative;
  left: -3px;
}
.burgermenu .bl.bot {
  position: relative;
  left: 2px;
  width: 47px;
}

.menu {
  position: fixed;
  right: 50px;
  top: 40px;
  opacity: 0;
  padding: 20px;
  width: 200px;
  height: 300px;
  z-index: 90;
  transform: translate(5px, -50px);
  transition: opacity 0.3s ease, transform 0.5s ease;
}
.menu nav {
  margin-top: 100px;
  margin-left: 10px;
  align-items: end;
}
.menu nav a {
  font-size: 1.5em;
  font-family: "RosesAre";
  color: #156082;
  margin-bottom: 25px;
  text-align: right;
  display: block;
  text-decoration: none;
}

.open {
  opacity: 1;
  pointer-events: auto;
  transform: translate(0, 0);
}

.vid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 23vh;
  z-index: 0;
  margin-right: 25px;
  overflow: hidden;
  width: 220px;
  height: 160px;
}
.vid-container .video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.puppencontainer {
  width: 90%;
  height: auto;
  background-image: url(./images/Schaufensterpuppe.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  z-index: 1;
}

.title {
  position: fixed;
  left: 50px;
  top: 40px;
}

.pu-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 35vh;
}

.poppup {
  height: 300px;
  display: flex;
  flex-direction: column;
}
.poppup .content-line {
  position: relative;
  right: 0;
  top: 65px;
  width: 30px;
  height: 5px;
  background-color: #156082;
  transition: width 0.5s ease;
  transform-origin: right center;
}
@keyframes stretch {
  from {
    width: 30px;
  }
  to {
    width: 200px;
  }
}
.poppup .content {
  height: 100%;
  padding-right: 55vw;
  position: relative;
  transition: transform 0.7s ease;
  transform: translateX(50px);
}
.poppup .content h2 {
  transform: translateX(60px);
  transition: transform 0.7s ease;
}
.poppup .content p {
  margin-top: 50px;
  opacity: 0;
  transition: opacity 0.7s ease;
}

.content:hover {
  transform: translateX(0px);
}
.content:hover h2 {
  transform: translateX(0);
}
.content:hover p {
  opacity: 1;
}

.gallery {
  display: flex;
  width: 80%;
  margin-top: 5vh;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

.gallery-item {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.full-text {
  width: 60%;
}
.full-text .chapter {
  padding-top: 20vh;
}

footer {
  margin-top: 40vh;
}/*# sourceMappingURL=style.css.map */